.useravatar{
 margin-bottom: 5px; 
}
.generic-avatar {
	background: transparent;
	box-shadow: none;
	position: relative;
}
.color {
  display:block;
	background: transparent;
}
.name {
	position: absolute;
	color: #fff;
	font-weight: 600;
	text-align: center;
}
.img {
	top: 1px;
	background-size: contain;
	position: absolute;
	
}